In [29]:
import pandas as pd

## Import Data and preproccess it before dealing with P Value

In [49]:
basesurveydf = pd.read_csv('data/BaseSurveyData.csv')

#Get the average complete time
basesurveyAverageCompleteTime = basesurveydf['Duration (in seconds)'].drop([0,1])
basesurveyAverageCompleteTime= basesurveyAverageCompleteTime.astype(int).mean()
print(basesurveyAverageCompleteTime)

#Drop unnecessary columns
basesurveydf.drop(['StartDate', 'EndDate', 'Status', 'IPAddress','Progress', 'Finished', 'RecordedDate', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference' \
                   ,'LocationLatitude',	'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'Duration (in seconds)', 'ResponseId', 'RandomSurveyID'], axis=1, inplace=True)
basesurveydf.drop([1],inplace=True)

#Make Q3 something we can actually read, probably shouldnt have done this question tbf
q3_options = ['1', '2', '3', '4', '5']
for option in q3_options:
    basesurveydf[f'Q3_option_{option}'] = basesurveydf['Q3'].apply(lambda x: 1 if option in str(x).split(',') else 0)

basesurveydf.drop(columns=['Q3'],inplace=True)

#Remove question
basesurveydf.drop([0], inplace=True)

#Display new df
basesurveydf

90.95238095238095

,Q1,Q2,Q4,Q5_1,Q6_1,Q7_1,Q8,Q9_1,Q9_2,Q9_3,Q9_4,Q10_1,Q10_2,Q10_3,Q10_4,Q3_option_1,Q3_option_2,Q3_option_3,Q3_option_4,Q3_option_5
2,5,4,3,3,3,3,1,1,2,3,4,1,3,2,4,0,0,1,0,0
3,5,4,5,4,4,4,1,1,2,4,3,2,1,3,4,1,0,0,1,1
4,4,3,4,4,4,4,1,1,3,4,2,1,2,4,3,1,0,0,0,0
5,3,2,2,4,4,5,1,4,1,3,2,4,1,2,3,1,0,0,0,0
6,4,2,5,5,5,4,1,1,3,2,4,2,1,3,4,1,0,0,0,0
7,4,2,2,4,5,4,1,2,4,1,3,3,4,1,2,0,0,1,1,0
8,5,4,3,5,4,5,1,1,4,2,3,1,2,4,3,1,0,1,1,1
9,3,3,2,4,3,4,1,1,3,4,2,3,1,4,2,0,0,1,0,0
10,3,3,3,1,4,1,1,2,1,3,4,1,2,3,4,1,1,1,1,1
11,3,3,3,4,4,4,1,4,1,2,3,4,1,2,3,0,0,0,1,0
12,5,5,4,5,5,5,1,2,1,3,4,1,3,4,2,1,0,1,1,1
13,4,4,4,5,5,5,1,4,1,2,3,4,1,2,3,1,0,0,1,1
14,4,5,4,5,5,4,1,1,2,4,3,1,3,2,4,1,0,0,1,1
15,4,3,3,4,4,3,1,3,2,1,4,2,4,1,3,1,0,0,1,1
16,4,3,3,4,3,3,1,2,1,4,3,2,3,1,4,1,1,0,1,0
17,5,4,4,5,4,2,1,2,1,3,4,2,1,3,4,1,0,1,1,0
18,4,5,5,4,3,4,1,1,3,4,2,1,2,4,3,1,0,0,1,1
19,3,3,3,4,4,4,1,3,2,1,4,2,4,1,3,0,1,1,0,0
20,3,3,3,4,4,5,1,4,1,3,2,3,1,4,2,0,0,0,1,0
21,5,4,3,4,4,4,1,3,1,2,4,3,1,4,2,0,0,1,1,1
22,5,4,4,5,5,2,1,4,1,2,3,4,1,2,3,1,0,0,1,1

In [61]:
rearrangedSuveydf = pd.read_csv('data/RearrangeSurveyData.csv')

#Get the average complete time
rearrangedSuveyAverageCompleteTime = rearrangedSuveydf['Duration (in seconds)'].drop([0,1])
rearrangedSuveyAverageCompleteTime= rearrangedSuveyAverageCompleteTime.astype(int).mean()
print(rearrangedSuveyAverageCompleteTime)

#Drop unnecessary columns
rearrangedSuveydf.drop(['StartDate', 'EndDate', 'Status', 'IPAddress','Progress', 'Finished', 'RecordedDate', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference' \
                   ,'LocationLatitude',	'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'Duration (in seconds)', 'ResponseId', 'RandomSurveyID'], axis=1, inplace=True)
rearrangedSuveydf.drop([1],inplace=True)

#Rearrange and rename questions to be in order like the others
rearrangedSuveydf[['Q1', 'Q2', 'Q3', 'Q4', 'Q5_1', 'Q6_1', 'Q7_1', 'Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q9_1', 'Q9_2', 'Q9_3', 'Q9_4', 'Q10']] = rearrangedSuveydf[['Q4', 'Q2', 'Q1', 'Q3', 'Q7_1', 'Q6_1', 'Q5_1', 'Q10', 'Q9_1', 'Q9_2', 'Q9_3', 'Q9_4', 'Q8_1', 'Q8_2', 'Q8_3', 'Q8_4']]

rearrangedSuveydf = rearrangedSuveydf.rename({'Q8_1': 'Q8', 'Q8_2': 'Q9_1', 'Q8_3': 'Q9_2', 'Q8_4': 'Q9_3', 'Q9_1': 'Q9_4', 'Q9_2': 'Q10_1', 'Q9_3': 'Q10_2', 'Q9_4': 'Q10_3', 'Q10': 'Q10_4'}, axis='columns')

'Q1', 'Q2', 'Q3', 'Q4', 'Q5_1', 'Q6_1', 'Q7_1', 'Q8', 'Q9_1', 'Q9_2', 'Q9_3', 'Q9_4', 'Q10_1', 'Q10_2', 'Q10_3', 'Q10_4'
#Make Q3 something we can actually read, probably shouldnt have done this question tbf
q3_options = ['1', '2', '3', '4', '5']
for option in q3_options:
    rearrangedSuveydf[f'Q3_option_{option}'] = rearrangedSuveydf['Q3'].apply(lambda x: 1 if option in str(x).split(',') else 0)

rearrangedSuveydf.drop(columns=['Q3'],inplace=True)

#Remove question
rearrangedSuveydf.drop([0], inplace=True)

#Display df
rearrangedSuveydf

80.65

,Q1,Q2,Q4,Q5_1,Q6_1,Q7_1,Q8,Q9_1,Q9_2,Q9_3,Q9_4,Q10_1,Q10_2,Q10_3,Q10_4,Q3_option_1,Q3_option_2,Q3_option_3,Q3_option_4,Q3_option_5
2,4,5,3,4,4,4,1,3,1,2,4,4,1,2,3,1,0,1,0,0
3,4,4,4,1,4,4,1,1,3,2,4,1,3,2,4,1,0,0,0,0
4,3,5,4,4,4,3,1,2,1,4,3,1,3,4,2,1,0,0,1,0
5,4,5,5,4,4,4,1,1,3,2,4,1,3,2,4,1,0,0,0,0
6,3,3,3,1,4,1,1,2,1,3,4,3,1,2,4,1,1,1,1,1
7,4,5,5,4,4,4,1,4,1,2,3,3,1,2,4,1,1,1,0,0
8,4,4,4,5,5,5,1,3,1,2,4,1,2,3,4,1,0,0,0,0
9,4,4,4,5,5,5,1,4,1,2,3,4,1,2,3,1,0,0,0,0
10,3,3,3,1,4,1,1,2,1,3,4,2,1,3,4,1,1,1,1,1
11,4,4,4,5,4,4,1,3,2,4,1,3,2,4,1,1,1,1,1,1
12,3,3,2,5,4,4,1,2,3,1,4,1,2,3,4,1,0,0,1,1
13,4,3,3,3,3,2,1,2,3,4,1,3,2,4,1,0,0,1,0,0
14,4,4,4,5,4,5,1,4,1,2,3,4,1,2,3,1,0,1,1,1
15,3,3,3,4,3,1,1,2,3,1,4,3,2,1,4,1,1,1,0,0
16,3,2,4,3,5,3,1,2,1,3,4,2,1,4,3,0,0,1,0,0
17,4,3,3,4,4,3,1,1,2,4,3,3,2,4,1,1,1,0,1,0
18,4,4,5,4,4,4,1,2,1,4,3,1,2,4,3,1,0,1,1,0
19,4,4,4,4,3,4,1,2,1,3,4,1,2,3,4,1,0,0,1,0
20,5,5,5,5,5,5,1,4,1,2,3,3,1,2,4,1,1,0,0,0
21,3,5,5,5,4,4,1,1,3,4,2,4,1,2,3,1,1,1,0,0

In [48]:
extendedSurveydf = pd.read_csv('data/ExtendedSurveyData.csv')

#Get average completion time
extendedSuveyAverageCompleteTime = extendedSurveydf['Duration (in seconds)'].drop([0,1])
extendedSuveyAverageCompleteTime= extendedSuveyAverageCompleteTime.astype(int).mean()
print(extendedSuveyAverageCompleteTime)

#Drop unnecessary columns
extendedSurveydf.drop(['StartDate', 'EndDate', 'Status', 'IPAddress','Progress', 'Finished', 'RecordedDate', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference' \
                   ,'LocationLatitude',	'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'Duration (in seconds)', 'ResponseId', 'RandomSurveyID'], axis=1, inplace=True)
extendedSurveydf.drop([1], inplace=True)

#Make Q3 something we can actually read, probably shouldnt have done this question tbf
q3_options = ['1', '2', '3', '4', '5']
for option in q3_options:
    extendedSurveydf[f'Q3_option_{option}'] = extendedSurveydf['Q3'].apply(lambda x: 1 if option in str(x).split(',') else 0)

extendedSurveydf.drop(columns=['Q3'],inplace=True)

#Remove question
extendedSurveydf.drop([0], inplace=True)

#Display df
extendedSurveydf

142.0952380952381

,Q1,Q2,Q4,Q5_1,Q6_1,Q7_1,Q8,Q9_1,Q9_2,Q9_3,Q9_4,Q10_1,Q10_2,Q10_3,Q10_4,Q3_option_1,Q3_option_2,Q3_option_3,Q3_option_4,Q3_option_5
2,4,3,3,4,3,3,1,2,3,4,1,2,1,3,4,1,1,1,1,1
3,5,5,5,4,4,4,1,1,3,2,4,1,3,4,2,1,0,1,1,1
4,3,3,3,1,4,2,1,3,1,2,4,1,3,4,2,0,0,0,1,0
5,3,3,3,4,3,3,1,1,4,2,3,2,3,1,4,1,0,1,1,0
6,2,3,3,4,3,3,1,2,3,1,4,1,4,2,3,0,1,1,0,0
7,4,3,2,4,3,4,1,3,1,4,2,2,4,1,3,0,0,0,1,0
8,3,3,3,4,3,3,1,4,2,1,3,4,2,3,1,0,0,1,0,0
9,4,5,4,1,4,1,1,2,4,1,3,3,4,1,2,1,1,1,1,1
10,4,4,4,4,4,4,1,1,3,2,4,4,1,2,3,0,0,1,0,1
11,4,2,2,4,4,4,1,4,1,2,3,4,1,2,3,1,1,1,1,1
12,4,2,2,4,4,4,1,4,1,2,3,3,1,2,4,1,1,1,1,1
13,3,2,2,3,3,3,1,2,3,1,4,3,1,2,4,1,1,1,0,1
14,3,3,3,4,4,4,1,4,2,1,3,2,1,4,3,0,1,1,0,0
15,4,3,3,4,4,5,1,4,1,3,2,4,1,3,2,0,0,1,1,1
16,4,3,3,5,5,5,1,1,3,4,2,3,1,2,4,1,1,0,0,0
17,4,2,2,5,4,4,1,1,4,2,3,4,3,1,2,1,1,0,1,0
18,5,3,3,4,4,5,1,2,1,4,3,3,2,1,4,0,0,1,0,0
19,3,2,2,3,2,4,1,1,2,3,4,1,2,3,4,0,0,0,1,0
20,1,2,2,3,5,5,1,1,3,4,2,1,3,2,4,1,0,0,0,0
21,3,4,3,4,4,5,1,1,2,3,4,1,2,4,3,1,1,0,0,0
22,3,2,2,4,4,4,1,1,2,3,4,1,4,3,2,1,1,1,1,1

## P Values

In [67]:
from scipy.stats import ttest_ind

# Flatten responses from all questions for each survey
survey1_responses = basesurveydf.values.flatten().astype(int)
survey2_responses = extendedSurveydf.values.flatten().astype(int)
survey3_responses = rearrangedSuveydf.values.flatten().astype(int)

# Perform T-Test for Survey 1 vs Survey 2
t_stat1, p_value1 = ttest_ind(survey1_responses, survey2_responses)

# Perform T-Test for Survey 1 vs Survey 3
t_stat2, p_value2 = ttest_ind(survey1_responses, survey3_responses)

# Perform T-Test for Survey 2 vs Survey 3
t_stat3, p_value3 = ttest_ind(survey2_responses, survey3_responses)

# Print the results
print(f"T-Test P-value for Survey 1 vs Survey 2: {p_value1}")
print(f"T-Test P-value for Survey 1 vs Survey 3: {p_value2}")
print(f"T-Test P-value for Survey 2 vs Survey 3: {p_value3}")

T-Test P-value for Survey 1 vs Survey 2: 0.280564049385888
T-Test P-value for Survey 1 vs Survey 3: 0.9886887899495923
T-Test P-value for Survey 2 vs Survey 3: 0.2919847714576503